<!-- Error messages -->
{% for field in form %}
    {% if field.errors %}
        <div class="col-12">
            <span class="fw-bold">{{ field.label_tag }}</span>
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}

<!-- Non Field Errors -->
{% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="text-danger">{{ error }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>    
{% endfor %}

<!-- Success & Error Messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
